{% extends 'base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
<!-- filters -->
<section class="filters">
    <div class="container">
        <h1>Tutors that fit your schedule</h1>
        <p>Find the perfect private tutor and Free Video Meetings. Then book one-to one Online Lessons to fit your schedule.</p>
        <form method="POST" action="{% url 'tutor_search' %}">
          {% csrf_token %}
          <div>
              <label for="id_subject"></label>
              <select name="subject" id="id_subject" onchange="this.form.submit()">
                  <option value="">All Subjects</option>
                  {% for subject in subjects %}
                      <option value="{{ subject.name }}" {% if request.POST.subject == subject.name %}selected{% endif %}>
                          {{ subject.name }}
                      </option>
                  {% endfor %}
              </select>
          </div>
      
          <div>
              <label for="id_level"></label>
              <select name="level" id="id_level" onchange="this.form.submit()">
                  <option value="">All Levels</option>
                  {% for level in levels %}
                      <option value="{{ level.name }}" {% if request.POST.level == level.name %}selected{% endif %}>
                          {{ level.name }}
                      </option>
                  {% endfor %}
              </select>
          </div>
      
          <div>
              <label for="id_price"></label>
              <select name="price" id="id_price" onchange="this.form.submit()">
                  <option value="">All Prices</option>
                  {% for price in price_ranges %}
                      <option value="{{ price.value }}" {% if request.POST.price == price.value %}selected{% endif %}>
                          {{ price.label }}
                      </option>
                  {% endfor %}
              </select>
          </div>
      
          <div>
              <label for="id_gender"></label>
              <select name="gender" id="id_gender" onchange="this.form.submit()">
                  <option value="">All Genders</option>
                  {% for gender in genders %}
                      <option value="{{ gender.value }}" {% if request.POST.gender == gender.value %}selected{% endif %}>
                          {{ gender.label }}
                      </option>
                  {% endfor %}
              </select>
          </div>
      
          <div>
              <label for="id_method"></label>
              <select name="method" id="id_method" onchange="this.form.submit()">
                  <option value="">All Methods</option>
                  {% for method in methods %}
                      <option value="{{ method.value }}" {% if request.POST.method == method.value %}selected{% endif %}>
                          {{ method.label }}
                      </option>
                  {% endfor %}
              </select>
          </div>
      
          <noscript>
              <button type="submit">Filter</button>
          </noscript>
      </form>      
    </div>
  </section>
  <!-- end of filters -->

<!-- tutors -->
  <section class="tutor-card">
    <div class="container">
      <h2>Our Awesome Teachers</h2>
      <p class="tutor-card-filters">Thousands of parents, students, and teachers have rated us 4.96/5</p>
      <div class="cards">
        {% for tutor in tutors %}
        <a href="{% url 'tutor_detail' tutor_id=tutor.id %}">
            <article class="card">
            {% if tutor.user.profile_picture %}
                <img src="{{ tutor.user.profile_picture.url }}" alt="Tutor {{ tutor.name }}">
            {% else %}
                <img src="{% static 'images/default-profile.png' %}" alt="Default Tutor Image">
            {% endif %}
                <h4>{{ tutor.name }}</h4>
                <p><strong>Experience:</strong> {{ tutor.experience|default:"Not provided" }}</p >
                <p><strong>Method:</strong> {{ tutor.method }}</p >
                <p><strong>Subjects:</strong>
                    {% for subject in tutor.subject_list.all %}
                        {{ subject.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p><strong>Levels:</strong>
                    {% for level in tutor.level_list.all %}
                        {{ level.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            <!-- Solid line separator -->
            <hr class="separator">
            <!-- Hourly rate container -->
            <div class="hourly-rate">
                <span class="rate">${{ tutor.hourly_rate|default:"N/A" }} /hr</span>
                <div class="star-rating">
                <span>⭐</span> <!-- Also we can dynamically adjust this if have the rating value -->
                <span class="rating">5/5</span>
                </div>
            </div>
            </article>
        </a>
        {% empty %}
        <p>No tutors available at the moment. Check back soon!</p >
        {% endfor %}
      </div>
    </div>
    <!-- Book Tutor start-->
    <section class="start search-start">
        <div class="container">
        <h2>
            Book a free meeting with a tutor today and find out how they can help your
            child
        </h2>
        <a href="#" class="btn btn-primary">Book Tutor</a>
        </div>
    </section>
    <!-- end of Book Tutor start -->
</section>
{% endblock %}
