{% load static %}
<footer>
    <div class="container flex">
      <div>
        <h2>We’re here to help</h2>
        <p class="footer-us">Contact us</p>
        <p class="space">info@brainboosters.com</p>
        <p class="footer-us">Visit us</p>
        <div class="address-container">
          <p>534 Sherbrooke St. Suite 804 Montreal, QC H3X8E3</p>
        </div>
      </div>
      <div>
        <h2>Follow Us</h2>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        <p class="copyright">&copy; 2025 Brain Boosters. All rights reserved.</p>
      </div>
    </div>
  </footer>